.book_appointment_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 24px;
  width: 430px;
  gap: 10px;
}

.header {
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: var(--grey-color);
}

.date_time_section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: var(--grey-color);
  text-align: center;
}

.confirmation_text {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 25.5px;
}

.refund_terms_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.refund_terms_text {
  font-size: 18px;
  color: var(--blue-color);
  list-style: 44px;
}
